[https://commons.m.wikimedia.org/wiki/Category:Sockpuppets_of_DLOEI2536 https://www.google.com/m?q=%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B9%80%E0%B8%A5%E0%B8%A2&client=ms-opera-touch-iphone&channel=new&espv=1&tpsf=opmenpf]
[https://commons.m.wikimedia.org/wiki/User:DLOEI2536]
